* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Trebuchet MS", sans-serif;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: #000000a9;
}

.box {
  width: 150px;
  height: 150px;
  background: #12a833;
  border-radius: 5px;
  position: absolute;
}

.container {
  width: 600px;
  height: 600px;
  background: rgb(19, 201, 116);
  position: relative;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 1px rgba(3, 112, 45, 0.967);
}

.app {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sliders {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.heading {
  position: absolute;
  top: 5%;
  left: 50%;
}
input {
  width: 500px;
  height: 100px;

  color: aqua;
}
